.info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.table-orders {
  margin-top: 20px;
}

.btn-sbm {
  margin-top: 25px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.btn-block{
  margin-top: 15px;
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 20px;
}

.control-label {
  font-size: 17px;
}

.info-block {
  display: block;
  margin-left: 20px;
}

.collapse-btn {
  width: 400px;
}

em {
  margin-left: 15px;
}

.wrap {
  margin-bottom: 5px;
}

.record-info {
  float: left;
  width: 200px;
}

.main-h1 {
  text-align: center;
}

.navbar {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.navbar-elem {
  margin-top: 5px;
  width:80px;
}

.app-block {
  display: flex;
  flex-direction: row;
}

.mode-block {
  margin-left: 40px;
}
